<nav id="primary_nav">
<a href="#" id="mobile_nav">&#9776;</a>
		{% if user.is_authenticated %}
                <ul >
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>

                  </li>
                    <li><a href="/accounts/profile">{{request.user.username}}</a></li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            {% else %}
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>

            {% endif %}

	</nav>