{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
    <h1 style="text-align: center">{{request.user.username}}</h1><br>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="profile-image">
                {% if request.user.profile.dp %}
               <img src="{{request.user.profile.dp.url}}" width="600px" height="600px">
                {% else %}
                <img src="https://images.unsplash.com/photo-1535930749574-1399327ce78f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1f8a140ac20927deb386d1c9187433d6&auto=format&fit=crop&w=500&q=60" width="400" height="400">
                {% endif %}
    </div>
 <a href="/accounts/password/change"><button>Change Password</button></a>
 <button>Edit Profile</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}